---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
import SkillElement from "../components/SkillElement.astro";
import Location from "../components/Location.astro";
---

<Layout title="About - TobWeb">
    <PageTitle>About Me</PageTitle>

    <h2 class="text-4xl mb-8 font-bold">My Education</h2>

    <ul class="timeline timeline-vertical timeline-snap-icon timeline-compact mb-8">
        <li>
            <div class="timeline-middle">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="text-primary h-5 w-5"
                >
                    <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd"
                    />
                </svg>
            </div>
            <div class="timeline-end mb-10">
                <time class="font-mono italic font-bold">2025</time>
                <div class="text-lg font-extrabold">Master's Degree in Computer Science</div>
                <Location text="University of Basel" class="mb-2"></Location>
                I pursued the Distributed Systems specialization as my Major and completed it with excellent academic
                results.
                My <a href="projects/master-thesis" class="link link-primary">Master's thesis</a> focused on enhancing the Polypheny project through the development of novel
                multi-model data pipelines.
            </div>
            <hr class="bg-primary"/>
        </li>
        <li>
            <div class="timeline-middle">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="text-primary h-5 w-5"
                >
                    <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd"
                    />
                </svg>
            </div>
            <div class="timeline-end mb-10">
                <time class="font-mono italic font-bold">2023</time>
                <div class="text-lg font-extrabold">Bachelor's Degree in Computer Science</div>
                <Location text="University of Basel" class="mb-2"></Location>
                The Bachelor's degree has given me a strong foundation in algorithms, software engineering and
                artificial intelligence.
                In my <a href="projects/bachelor-thesis" class="link link-primary">Bachelor's thesis</a>, I integrated computational notebooks into a PolyDBMS.
                <!--TODO: link to project-->
            </div>
            <hr class="bg-primary"/>
        </li>
        <li>
            <div class="timeline-middle">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="text-primary h-5 w-5"
                >
                    <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd"
                    />
                </svg>
            </div>
            <div class="timeline-end mb-10">
                <time class="font-mono italic font-bold">2020</time>
                <div class="text-lg font-extrabold">Gymnasiale Matura</div>
                <Location text="Gymnasium Laufental-Thierstein" class="mb-2"></Location>
                Completed with major subjects Maths and Physics.
            </div>
        </li>
    </ul>


    <h2 class="text-4xl mb-8 font-bold">My Skills</h2>
    <p class="mb-4">
        I consider my key strengths to be the ability to systematically analyze and solve problems, quickly grasp new
        concepts and efficiently learn new skills.
        I believe that underlying problem-solving abilities are more important than any specific technical skill.
    </p>

    <p class="mb-4">
        Nonetheless, the following list provides an overview of the languages and technologies I’ve worked with.
        Some of these I know very well, others I've wrestled with just enough to respect. Either way, I’m always up for
        learning more!
    </p>

    <h3 class="text-2xl mb-8 font-bold">Languages</h3>

    <div class="flex flex-wrap gap-12 items-center justify-center mb-12">
        <SkillElement icon="java" darkIcon="java-light" title="Java"/>
        <SkillElement icon="python" title="Python"/>
        <SkillElement icon="postgresql" title="SQL"/>
        <SkillElement icon="c-plusplus" title="C++"/>
        <SkillElement icon="kotlin" title="Kotlin"/>
    </div>
    <div class="flex flex-wrap gap-12 items-center justify-center mb-8">
        <SkillElement icon="typescript" title="TypeScript"/>
        <SkillElement icon="html" title="HTML"/>
        <SkillElement icon="css" title="CSS"/>
    </div>


    <h3 class="text-2xl mb-8 font-bold">Technologies</h3>

    <div class="flex flex-wrap gap-12 items-center justify-center mb-8">
        <SkillElement icon="git" title="Git"/>
        <SkillElement icon="docker" title="Docker"/>
        <SkillElement icon="angular" title="Angular"/>
        <SkillElement icon="react" title="React"/>
        <SkillElement icon="flask-dark" darkIcon="flask-light" title="Flask"/>
        <SkillElement icon="pytorch" title="PyTorch"/>
        <SkillElement icon="spark" title="Apache Spark"/>
        <SkillElement icon="mongodb-dark" darkIcon="mongodb" title="MongoDB"/>
        <SkillElement icon="neo4j" title="Neo4j"/>
    </div>
</Layout>
