---
const today = new Date();
---

<footer class="bg-stone-500 text-center py-3 text-sm text-gray-200 dark:text-gray-400 dark:bg-stone-900">
    <div class="space-x-4">
        <a href="/impressum" class="underline hover:text-white transition-colors">Legal Notice</a>
        <a href="/privacy-policy" class="underline hover:text-white transition-colors">Privacy Policy</a>
    </div>
    <p class="mt-2">&copy; {today.getFullYear()} Tobias Weber. All rights reserved.</p>
</footer>