---
import SocialLinks from "./SocialLinks.astro";
const today = new Date();
---

<footer class="footer footer-horizontal footer-center
        bg-base-300 text-base-content
        dark:text-stone-200 dark:bg-base-200
        p-5 gap-y-4">
    <nav class="grid grid-flow-col gap-4">
        <a href="/impressum" class="link link-hover">Legal Notice</a>
        <a href="/privacy-policy" class="link link-hover">Privacy Policy</a>
    </nav>
    <nav>
        <div class="grid grid-flow-col gap-4">
            <SocialLinks/>
        </div>
    </nav>
    <aside>
        <p>© {today.getFullYear()} Tobias Weber. All rights reserved.</p>
    </aside>
</footer>
