---
---
<div class="prose dark:!prose-invert max-w-none prose-p:text-base-content prose-ul:text-base-content
  prose-a:text-primary prose-p:text-justify prose-img:rounded-xl dark:prose-code:text-base-content">
    <slot/>
</div>