---
---
<div class="prose dark:!prose-invert max-w-none prose-p:text-base-content prose-ul:text-base-content
    prose-code:!bg-base-100 dark:prose-code:!bg-base-200 prose-code:!rounded-sm prose-code:!border-none prose-code:!px-1
    prose-a:text-primary prose-p:text-justify prose-img:rounded-xl">
    <slot/>
</div>