---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from 'astro:content';
import PageTitle from "../../components/PageTitle.astro";
const allProjects = await getCollection('projects');
---

<Layout title="Projects - TobWeb">
	<PageTitle>Projects</PageTitle>

	<p class="text-base mb-3">This is where I showcase all my projects.</p>

	<ul class="list-disc">
		{allProjects.map((project) =>
			<li class="list-item">
				<a href={'/projects/' +project.slug}>{project.data.title}</a>
			</li>
		)}
	</ul>
</Layout>
