---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import DrawerHeader from "../components/DrawerHeader.astro";
// Props passed to this layout
const {title = "TobWeb"} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <meta name="description" content="The portfolio website of Tobias Weber."/>
        <meta name="author" content="Tobias Weber">
        <title>{title}</title>
    </head>

    <body class="min-h-screen flex flex-col font-sans bg-base-200 dark:bg-stone-950">

        <DrawerHeader>
            <main class="flex-grow container mx-auto px-4 pt-16 pb-8 max-w-screen-md">
                <slot/>
            </main>
            <Footer/>
        </DrawerHeader>
    </body>
</html>
