---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
// Props passed to this layout
const {title = "TobWeb"} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-gray-50 text-gray-900">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <meta name="description" content="The portfolio website of Tobias Weber."/>
        <meta name="author" content="Tobias Weber">
        <title>{title}</title>
    </head>

    <body class="min-h-screen flex flex-col font-sans bg-stone-300 dark:bg-stone-800">
        <Header/>

        <main class="flex-grow container mx-auto px-4 py-8 dark:text-white dark:bg-stone-800">
            <slot/>
        </main>

        <Footer/>
    </body>
</html>
